<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Профіль: <%= student.name %></title>
</head>
<body>
    <h1>Студент: <%= student.name %></h1>

    <hr>
    <a href="/index.html">Повернутися до списку бригади</a>
</body>
</html>